Package: com.tomaszpoliszuk.flipswitchclassicinvertcolors
Depends: firmware (>= 12.0), mobilesubstrate, com.a3tweaks.flipswitch
Name: Flipswitch - Classic Invert Colors
Version: 1.0
Architecture: iphoneos-arm
Description: Flipswitch toggle for Classic Invert Colors
Author: Tomasz Poliszuk
Section: Addons (Flipswitch)
dev: tomaszpoliszuk
